.div {
    background-image: url("puesta.JPG");
    background-repeat: no-repeat;
    width: 500px;
    height: 200px;
    border: solid 2px black;
}
.div2 {
    background-image: url("puesta.JPG");
    background-repeat: no-repeat;
    background-size: 300px 100px;
    width: 500px;
    height: 200px;
    border: solid 2px black;
}
.rojo {
    border: 5px dotted red;
    color: red;   
}