.aa {
   color: rgb(255,255,255) ;
   background-color:rgb(98, 97, 97, 0.4) ;
}

.bb {
    color: rgb(27, 29, 158) ;
    background-color:rgba(64, 189, 53, 0.4) ;
}

.cc {
    color: rgb(91, 43, 203) ;
    background-color:rgba(234, 226, 131, 0.4) ;
}
