
.containerint{
    border:black 3px solid ;
    background-color: orange;
    padding-left: 10px;
    padding-right: 10px;
    max-width: 400px;
    display: inline-block;
}
.containerint2{
    border:black 3px solid ;
    background-color: green;
    padding-left: 10px;
    padding-right: 10px;
    max-width: 400px;
    display: inline-block;
}
.containerint3{
    border:black 3px solid ;
    background-color: aqua;
    padding-left: 10px;
    padding-right: 10px;
    min-width: 400px;
    max-width: 400px;
    position: absolute;
    left: 170px;
    top: 350px;
}
.containerint4{
    border:black 3px solid ;
    background-color: aqua;
    padding-left: 10px;
    padding-right: 10px;
    min-width: 400px;
    max-width: 400px;
    position: absolute;
    left: 170px;
    top: 100px;

}

