.aa {
   color: rgb(53, 99, 158) ;
   background-color:rgb(126, 186, 52) ;
}

.bb {
    color: rgb(27, 94, 29) ;
    background-color:rgb(28, 163, 120) ;
}

.cc {
    color: rgb(59, 223, 166) ;
    background-color:rgb(175, 18, 189) ;
}
