.pej1 {
    background-color: lightskyblue;
    margin: auto;
    width: 300px;
}
.pej2 {
    background-color: lightskyblue;
    padding:50px 25px ;
}
.pej3 {
    background-color: lightskyblue;
    padding: 50px;
}
